<mat-toolbar color="primary">
    <span>
        <img src="../../../favicon.ico" alt="Logo">
    </span>
    <mat-menu #appMenu3="matMenu">
        <button mat-menu-item routerLink="/main/consultar-estudiantes">Consulta Estudiantes</button>
        <button mat-menu-item routerLink="/main/consultar-cursos">Consulta Cursos</button>
        <button mat-menu-item routerLink="/main/inscripcion">Inscripcion</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu3">Taller</button>
    <button mat-button *ngIf="isLoggedIn()" (click)="logout()">Cerrar sesión</button>
</mat-toolbar>
<div class="contenido">
    <router-outlet></router-outlet>
</div>
